html, body { height: 100%; width: 100%; margin: 0;  font: 1em/1.6em "Arial", "Tahoma", sans-serif; color: #353535;}
html{overflow-y: auto; overflow-x: hidden;}
body {background-color: #ffffff; }

@font-face {
 	font-family: Caracoltv; /* Гарнитура шрифта */
 	src: url(../fonts/Caracoltv.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: UnitypeXCnd-Light; /* Гарнитура шрифта */
 	src: url(../fonts/UnitypeXCnd-Light.ttf); /* Путь к файлу со шрифтом */
}


header{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	background-color: black;
	clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
}
nav{
	height: 65px;
	width: 100%;
	position: absolute;
	overflow: hidden;
}
nav .background_color{
	background-color: rgba(0, 0, 0, .8);
}
nav .background_nocolor{
	background-color: none;
}

nav .header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99990;
}
nav .header:hover{
	background-color: rgba(0, 0, 0, .98);
}

nav .header .logo{
	width: 250px;
	height: 65px;
	position: relative;
	margin-left: 50px;	
	float: left;
}
nav .header .logo h1{
	font-size: 30px;
	line-height: 65px;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #ffffff;
}

nav .header .mobile_content{
	display: none;
}

nav .header .top_menu{
	/*background-color: green;*/
	float: right;
	margin-right: 25px;
	position: relative;
	height: 65px;
	width: 650px/*calc(100% - 300px)*/;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .header .top_menu{
	font-size: 0px;
}

nav .header .top_menu li{
	display: inline-block;
	font-size: 12px;
   letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Roboto", "Helvetica", sans-serif;
	color: #ffffff;
	margin: 0 20px;
	transition: .7s;
}

nav .header .top_menu li a{
	color: inherit;
	text-decoration: none;
	transition: .7s;
	border-bottom: none;
}
nav .header .top_menu li a:hover{
	border-bottom: 1px dashed #FCFF00;
	color: #FCFF00;
}

header .header_name h2{
	position: relative;
	width: 400px;
	height: auto;
	border: 2px solid #ffffff;
	text-align: center;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 0;
	color: #ffffff;
	font-weight: 700;
	font-size: 30px;
	padding: 10px;
	z-index: 2;
}

header .header_text p{
	position: relative;
	width: 650px;
	height: auto;
	padding: 15px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	/*border: 1px solid #ffffff;*/
	color: #ffffff;
	z-index: 3;
	text-align: center;
}



header .header_image{
	position: absolute; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 1;
	clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
}

header .header_background{
	width: 100%; 
	height: 100%; 
	opacity: .5;
}


section{
	width: 100%;
	height: 800px;
	background-color: #ffffff;
	z-index: 5;
	/*border: 2px solid red;*/
}

section .option_site{
	/*width: 1225px; */
	/*border: 1px solid red;*/
	width: calc(100%-130px);
	height: 320px; 
	position: relative; 
	margin-left: 50px; 
	margin-right: 50px; 
	margin-top: 50px; 
	padding: 10px;
}

section .option_site .option_title h2{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #232329;
	width: 700px;
	height: auto;
	padding: 10px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

section .option_site .option_content p{
	font-weight: 300;
	font-size: 20px;
	color: #232329;
	width: 700px;
	height: auto;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

section .section_image{
	position: absolute; 
	width: 530px; 
	height: auto; 
	top: 95%; 
	display: flex; 
	align-items: center; 
	transform: rotate(-30deg); 
	right: 100px;
}

section .tab{
	overflow: hidden; 
	/*background-color: #f1f1f1; */
	width: calc(100%-100px); 
	height: 50px; 
	position: 
	relative; 
	margin-right: 50px; 
	margin-left: 50px;
}
section .tab .tablinks{
	line-height: 50px; 
	margin: 0 10px; 
	font-size: 22px; 
	cursor: pointer; 
	color: #232329; 
	text-decoration: underline;
	transition: .5s;
}
section .tab .tablinks:hover{
	color: #007280;	
}
section .tab .tablinks.active{
	color: #00acc5;
}

section .tabcontent{
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 50px;
	width: calc(100% - 100px);
	height: 300px;
	position: relative;
	/*border: 1px solid green;*/
}

section .tabcontent .tab_image{
	width: 300px;
	height: 300px;
	float: left;
	/*background-color: red;*/
}
section .tabcontent .tab_description{
	width: calc(100% - 300px);
	height: 300px;
	float: right;
	/*background-color: green;*/
}
section .tabcontent .tab_description h3{
	width: auto;
	height: auto;
	font-size: 25px;
	font-weight: 700;
	margin: 30px 0;
	padding: 5px 0;
	color: #00acc5;
}
section .tabcontent .tab_description p{
	width: auto;
	height: auto;
	font-size: 18px;
	font-weight: 300;
	color: #232329; 
}
section .tabcontent .tab_button{
	width: 250px;
	height: 35px;
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0;
	background-color: #fece00;
	border: none;
	box-shadow: .5px .5px 2px #fece00;
	color: #00acc5;
	transition: .5s;
	cursor: pointer;
}
section .tabcontent .tab_button:hover{
	background-color: #00acc5;
	color: #ffffff;
}



article{
	width: 100%;
	height: 850px;
	margin: 0;
	padding: 0;
	background-color: #2D2D2D;
	position: relative;
}

article .article_title h2{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding: 50px 0;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

article .article_content p{
	width: 1000px;
	height: auto;
	margin: 0px auto;
	padding: 10px 0;
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	position: relative;
}


article .article_step_box{
	width: calc(100%-100px);
	height: 250px;
	/*background-color: #ffffff;*/
	margin: 20px 50px;
	display: flex;
	position: relative;
}

article .article_step{
	width: 20%;
	height: 210px;
	margin: 20px 2.5%;
	display: inline-block;
	position: relative;
	background-color: #333;
	overflow: hidden;
	box-shadow: 0px 0px 2px #aaa;
	transition: .7s;
	border-radius: 6px;
}
article .article_step:hover{
	box-shadow: 1px 1px 3px #ccc;
}
article .image_article{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	background-image: url(../img/header/1.jpg); 
	background-size: 100% 100%; 
	opacity: .4;
}
article .article_step_box .article_step .article_title h5{
	width: 100%;
	height: auto;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	font-size: 23px;
	position: absolute;
	z-index: 10;
	transition: .7s;
	top: 70px;
}
article .article_step_box .article_step:hover .article_title h5{
	top: 0;
	color: red;	
	font-size: 20px;
}

article .article_step_box .article_step .article_description p{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	font-size: 14px;
	position: absolute;
	z-index: 10;
	top: 190px;
	transition: 1.1s;
}
article .article_step_box .article_step:hover .article_description p{
	top: 40px;
}



.information{
	width: 100%;
	height: 900px;
	background-color: #ffffff;
	position: relative;
}

.information .information_title h2{
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
	color: #232329;
	font-size: 30px;
	font-weight: 700;
	padding: 70px 0 20px 0;
	position: relative;
}

.information .information_description{
	width: calc(100% - 100px);
	height: auto;
	font-size: 20px;
	font-weight: 300;
	position: relative;
	margin: 0 50px;
	padding: 0;
}

.information .information_content{
	width: calc(100%-100px);
	height: 550px;
	/*background-color: #ccc;*/
	margin: 20px 50px; 
	display: flex;
	align-items: center;
}

.information .information_content .information_category{
	width: 30%;
	height: 550px;
	/*background-color: #ddd;*/
	margin: 0 2.5%;
	display: inline-block;
	overflow: hidden;
}
.time{
	background-image: url(../img/time.png);
}
.piggy{
	background-image: url(../img/Piggy_bank.png);	
}
.garanty{
	background-image: url(../img/Garanty.png);	
}
.information .information_content .information_category .information_category_image{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 50px auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.information .information_content .information_category .information_category_title h3{
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	color: #00acc5;
	overflow: hidden;
}

.information .information_content .information_category .information_category_description p{
	width: 100%;
	height: auto;
	font-size: 20px;
	font-weight: 300;
	overflow: hidden;
	text-align: center;
}


footer{
	width: 100%;
	height: 100px;
	background-color: #17161B;
	display: flex;
	align-items: center;
	position: relative;
}
footer .footer_text h6{
	width: 200px;
	height: auto;
	margin: 0 0 0 50px;
	padding: 0;
	color: #ffffff;
	float: left;
	font-size: 14px;
	font-weight: 300;
	position: relative;
}

footer .footer_logo{
	width: 250px;
	height: 65px;
	position: absolute;
	display: flex;
	left: 50%;
}

footer .footer_logo .footer_logo_fix{
	position: relative;
	left: -50%;
	/*background-color: red;*/
}
footer .footer_logo .footer_logo_fix h5{
	position: relative;
	width: auto;
	height: auto;
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
	float: right;
	text-align: left;
	margin: 20px 0;
	padding: 0;
	display: block;
}

footer .footer_social{
	position: absolute;
	width: 380px;
	height: 65px;
	/*background-color: blue;*/
	right: 0;
	margin-right: 50px;
	text-align: center;
}

footer .footer_social .footer_social_media{
	position: relative;
	width: 65px;
	height: 65px;
	margin: 0 0 0 30px;
	display: inline-block;
	float: right;
}

footer .footer_social .footer_social_media .footer_social_image{
	width: 90%; 
	height: 90%;
	position: relative;
	cursor: pointer;
	transition: .3s;
}
footer .footer_social .footer_social_media .footer_social_image:hover{
	width: 100%; 
	height: 100%;
}

.clear fix:before, .clear fix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}		

.display_none{
	display: none;
}


.mobile_menu{
	display: none;
}











@media screen and (min-width: 1600px) {
	section .option_site .option_title h2 {
	   text-align: center;
	   font-size: 35px;
	   font-weight: 700;
	   width: 1000px;
	}
	section .option_site .option_content p {
	   font-size: 22px;
	   width: 1000px;
	   height: auto;
	   letter-spacing: 1px;
	   text-align: center;
	}
	section .tab {
	   width: calc(100% - 200px);
	   height: 100px;
	   position: relative;
	   margin-right: 100px;
	   margin-left: 100px;
	}
	section .tab .tablinks {
	   line-height: 100px;
	   margin: 0 25px;
	   font-size: 27px;
	   cursor: pointer;
	}
	section .tabcontent {
	   margin-top: 30px;
	   margin-left: 100px;
	   margin-right: 100px;
	   width: calc(100% - 200px);
	   height: 300px;
	   position: relative;
	}
	section .tabcontent .tab_description h3 {
	    font-size: 30px;
	}
	section .tabcontent .tab_description p {
	   width: auto;
	   height: auto;
	   font-size: 23px;
	   line-height: 35px;
	}
	section .tabcontent .tab_button {
	   width: 350px;
	   height: 50px;
	   font-size: 27px;
	   font-weight: 700;
	   margin: 20px 0;
	}
	.information .information_title h2 {
		margin-bottom: 50px;
	   font-size: 35px;
	}
	.information .information_description p{
	    width: calc(100% - 200px);
	    font-size: 25px;
	    position: relative;
	    margin: 0 100px;
	    line-height: 37px;
	    text-align: center;
	}
}





@media screen and (min-width: 1400px) {
	header .header_name h2{
		width: 40%;
		text-align: center;
		font-weight: 700;
		font-size: 35px;
	}
	header .header_text p{
		position: relative;
		width: 60%;
		padding: 15px;
		margin-top: 30px;
		font-size: 20px;
	}

	@media screen and (min-height: 768px) {
		header .header_name h2{
			margin-top: 15%;
		}	
	}
}




@media screen and (max-width: 1230px) {
	section .option_site .option_title h2 {
	    font-size: 30px;
	    width: 600px;
	}
	section .option_site .option_content p {
	    font-weight: 300;
	    font-size: 16px;
	    width: 600px;
	}
}


@media screen and (max-width: 1100px) {
	section .option_site .option_title h2 {
	    width: 500px;
	}
	section .option_site .option_content p {
	    font-weight: 300;
	    font-size: 14px;
	    width: 500px;
	}
	article .article_step_box .article_step .article_description p {
	    width: 100%;
	    font-size: 12px;
	}
	.information .information_content .information_category .information_category_title h3{
		font-size: 20px;
	}
	.information .information_content .information_category .information_category_description p{
		font-size: 16px;
	}
	footer .footer_social{
		position: absolute;
		width: 30%;		
		margin-right: 25px;
	}
	footer .footer_social .footer_social_media{
		position: relative;
		width: 20%;
		height: auto;
		margin: 0 0 0 2.5%;
	}

	footer .footer_social .footer_social_media .footer_social_image{
		width: 90%; 
		height: 90%;
		position: relative;
		cursor: pointer;
		transition: .3s;
	}
}

@media screen and (max-width: 1000px) {	
	nav .header .logo{
		margin: 0;
		width: 220px;
		height: 65px;
	}
	nav .header .logo h1{
		font-size: 25px;
	}

	nav .header .top_menu{	
		width: 470px;
	}	
	nav .header .top_menu li{
		display: inline-block;
		text-align: right;
		font-size: 11px;
	   letter-spacing: 1px;
		font-weight: 700;
		margin: 0 10px;
	}
	
	article .article_content p {
	    width: calc(100% - 100px);
	    height: auto;
	    padding: 10px 50px;
	    font-size: 18px;
	}
	article .article_step_box {
	    width: calc(100% - 50px);
	    margin: 20px 25px;
	}
	article .article_step_box .article_step .article_title h5{
		font-size: 20px;
		top: 70px;
	}
	article .article_step_box .article_step:hover .article_title h5{
		font-size: 15px;
	}

	article .article_step_box .article_step .article_description p{
		font-size: 10px;
	}
	section .section_image {
	   position: absolute;
	   width: 40%;
	   height: auto;
	   top: 100%;
	   transform: rotate(-40deg);
	   right: 50px;
	   z-index: 1;
	}
	section .option_site{
	   margin-left: 25px;
	   margin-right: 25px;
	}
	section .option_site .option_title h2 {
	    z-index: 10;
	}
	section .option_site .option_content p {
		z-index: 10;
	}
	section .tab {
	   width: calc(100% - 50px);
	   margin-right: 25px;
	   margin-left: 25px;
	}
	section .tabcontent {
	    margin-left: 25px;
	    margin-right: 25px;
	    width: calc(100% - 50px);
	}
	.information .information_content .information_category {
	   height: 650px;	   
	}
	.information .information_description p{
	    width: calc(100% - 100px);
	    margin: 0 auto;
	    height: auto;
	    font-size: 18px;	    
	    padding: 0 50px;
	    position: relative;
	    display: block;
	}
}

@media screen and (max-width: 810px) {
	section .section_image {	   
	   transform: rotate(-40deg);
	   right: 30px;
	}
	section .option_site .option_title h2 {
	   font-size: 30px;
	   width: 400px;
	}
	section .option_site .option_content p {
	   font-weight: 300;
	   font-size: 14px;
	   width: 400px;
	}
	.information .information_content .information_category .information_category_image {
	    width: 100%;
	    height: 200px;
	    border-radius: 50%;
	    margin: 50px auto;
	    background-size: 100%;	    
	}
}



@media screen and (max-width: 760px) {
	header .header_text p{
		width: 70%;
		height: auto;
		padding: 15px;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
	}	
	nav{
		height: 65px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	nav .header{
		position: fixed;
		top: 0;
		width: 100%;
		height: 65px;
		z-index: 99990;
		background-color: rgba(0, 0, 0, .98);
	}

	nav .header .logo{
		width: 250px;
		height: 65px;
		position: relative;
		margin-left: 50px;	
		float: left;
	}
	nav .header .logo h1{
		font-size: 30px;
		line-height: 65px;
		margin: 0;
		padding: 0;
		text-align: left;
		color: #ffffff;
	}

	nav .header .mobile_content{
		width: 100px;
		height: 65px;
		background-color: red;
		position: absolute;
		top: 0;
		right: 25px;
		z-index: 999;
		display: flex;
		transition: .5s;
	}
	nav .header .top_menu{
		display: none;
	}

	.mobile_menu{
		position: absolute;
		top: 65px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: rgba(31, 154, 154, .97);
		z-index: 1000; 
		display: block;
	}
	.mobile_menu ul{
		display: block;
		position: relative;
	}
	.mobile_menu ul li{
		list-style-type: none;
		width: 100%;
		text-align: center;
		margin: 50px 0;
		height: auto;
		position: relative;
	}
	.mobile_menu ul li a{
		text-decoration: none;
		color: #ffffff;
		position: relative;	
		width: 100%;
		height: 100%;
		height: auto;
		padding: 20px;
		font-size: 30px;
	}
}

















